.weeklyForecastContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.weeklyForecastContainer__location {
  font-size: 1.2rem;
  font-weight: bold;
}

.daysContainer {
  display: flex;
  gap: var(--default-gap);
  border: var(--border);
  padding: 16px;
}