.dayOfTheWeekContainer {
  margin-left: 16px;
  text-align: center;
}

.dayOfTheWeek__icon {
  margin-bottom: 1rem;
}

.dayOfTheWeek__list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 1.5rem;
}

.navLink {
  width: 50%;
  height: 32px;
  color: var(--white);
  text-decoration: none;
  border: var(--border);
  padding: 0.5rem 1rem;
}